@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@0,900&display=swap'); 
/* font-family: 'Exo', sans-serif; */
/* font-family: 'Montserrat', sans-serif;  */
:root {
  --dark-bkg: hsl(0, 0%, 8%);
  --dark-table: hsl(0, 0%, 20%);
  --dark-header: hsl(0, 0%, 15%);
  
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--dark-bkg);
    color: #ffffff;
    font-family:'Exo', sans-serif;  
    font-size: calc(0.35rem + 0.45vw);
    text-align: left;
}

.nav-bar {
    top: 0;
    width: 100%;
    height: 110px;
    background-color: var(--dark-bkg);
    position: fixed;
}
.texto-logo , .search{
  padding-top: 2px;
  width: 100%;
  height: 50%;
  padding-left: 50px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: 2.5vw;
  letter-spacing: 5px;
  
  display: flex;
  align-items: center;
}
input {
    font-size: calc(0.35rem + 0.45vw);

    padding-left: 50px;
    color: #ffff;
    border: 1px solid var(--dark-table);
    height: 5vh;
    width: 35%;
    background-color: var(--dark-bkg);
    font-family: 'Exo', sans-serif;
    letter-spacing: 3px;
    background-image: url(/images/white_search.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: calc(2.5% + 1vw);
    outline: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

#tabelaDados {
  margin: 0 auto;
    margin-top: 110px;
    background-color: var(--dark-table); 
    border-collapse: collapse;
    border: 1px solid var(--dark-header);
    table-layout: fixed;
    width: 95%;  
  
}
#tabelaDados td {
    border: 1px solid var(--dark-header); 
    height: 35px;
    padding-left: 10px;
  }
#tabelaDados tr:hover {
    height: 35px;
    background-color: hsl(0, 0%, 35%);
  }

  th {
  height: 50px;
  position: sticky;
  top: 110px; 
  background-color: var(--dark-header);
  z-index: 9999;
  padding-left: 10px;
  width: 2vw;
  
  }
  th:nth-child(3){
    padding-left: 10px;
    width: 10vw;
  }
